@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #485a61;
  --card: oklch(1 0 0);
  --card-foreground: #485a61;
  --popover: oklch(1 0 0);
  --popover-foreground: #485a61;
  --primary: #d1e9ee;
  --primary-foreground: oklch(1 0 0);
  --secondary: #ff5600;
  --secondary-hover: #c44301;
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #485a61;
  --orange-primary: #e25002;
  --muted-orange: #ffb189;
  --muted-blue: #d6ecf1;
  --dark-blue: #004356;
  --hero-blue: #15a1bd;
  --accent: #fdb52b;
  --accent-foreground: #485a61;
  --destructive: #e25002;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: #19b8d7;
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #485a61;
  --sidebar-primary: #485a61;
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: #485a61;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: #19b8d7;
  --blue-button: #0c5e6e;
  /* Applying to a specific class */
  .comic-text {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  }
  /* Applying to the entire website */
  body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  }
}

.dark {
  .cc--darkmode {
    #cc-main {
      --cc-btn-primary-bg: #d1e9ee;
      --cc-btn-secondary-bg: #4b766f;
    }
  }
  --background: #1a1f23;
  --foreground: oklch(0.985 0 0);
  --card: #2d3438;
  --card-foreground: oklch(0.985 0 0);
  --popover: #2d3438;
  --popover-foreground: oklch(0.985 0 0);
  --primary: #d1e9ee;
  --primary-foreground: #1a1f23;
  --secondary: #485a61;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #2d3438;
  --muted-foreground: oklch(0.708 0 0);
  --accent: #fdb52b;
  --accent-foreground: #1a1f23;
  --destructive: #e25002;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #19b8d7;
  --chart-1: #19b8d7;
  --chart-2: #485a61;
  --chart-3: #e25002;
  --chart-4: #fdb52b;
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #2d3438;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #485a61;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #2d3438;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #19b8d7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#cc-main {
  --cc-btn-primary-bg: #0099c1;
  --cc-btn-secondary-bg: #ea5c05;

  --cc-btn-primary-hover-bg: #3a5657;
  --cc-btn-secondary-hover-bg: #f37427;
}
