---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<h1>Our Mission</h1>

	<p>Creating opportunities for vulnerable people to access veterinary care and other services for their companion animals.</p>
	Our Vision

	<p>Health and well-being for companion animals of vulnerable people in support of the human-animal bond.</p>


	<h2>Who We Are</h2>

	<p>Alberta Helping Animals Society (AHAS) is a non-profit society, incorporated in Alberta and registered as a charity with the Canadian Revenue Agency.</p>
	<h2>Why We Exist</h2>

	<p>Over 100,000 people in Edmonton are living in poverty and receiving social services. Some of these individuals have companion animals – most of these animals have never received veterinary care. AHAS was developed to fill this need, ensuring all individuals have access to veterinary care.</p>

	<h2>Who We Serve</h2>

	<p>Alberta Helping Animals Society serves both animals and their humans. Vulnerable individuals are particularly bonded to and rely on their companion animals for social support, companionship, and unconditional love. Ensuring the health and well-being of these animals is vital to ensuring the health and well-being of the owners, and further strengthens this very special human-animal bond.</p>
	<h2>How We Serve</h2>

	<p>AHAS Home Veterinary Services provides no-cost veterinary and other services in Edmonton to vulnerable people who are unable to access regular veterinary care.  We provide wellness exams, spay and neuter surgery, diagnosis and care for chronic illness, dentistry, palliative care, and end-of-life support.</p>

	<p>Our services extend beyond veterinary care. We proudly support the Boyle Street Community Services Pet Food Bank with weekly donations of dog food, cat food, litter, and other pet supplies and provide food and supplies when we can from our own clinic.  We also can advise vulnerable individuals regarding behaviour, nutrition, housing and other essential resources.  Finally, we are preparing animal care seminars that will be available to the public, providing valuable information on a variety of topics concerning pet and animal care.</p>
	<h2>Who Makes It Possible</h2>

	<p>Alberta Helping Animals Society runs entirely on the generosity of donors and volunteers. Donations of supplies, money, and time are always needed and greatly appreciated.</p>

	<h2>Want to help? – Learn More</h2>

	[[ Our Team ]]

	<h2>Our Volunteers</h2>

	<p>AHAS would not exist without the vital support of our volunteers. Our volunteer veterinarians and technicians provide their time and skills to ensure the health and well-being of the animals. Other volunteer activities, such as fundraising and educational seminars, bring in much needed financing, while administrative and clerical volunteers keep us organized and running smoothly. Our volunteers are passionate, driven, and dedicated to achieving the AHAS vision. We are extremely grateful for them, our most valuable asset!</p>

	[[ Our Partners ]]

	Broken WP Blocks

	[[ Our Board ]]

	<h2>Our Board</h2>

	<p>The Alberta Helping Animals Society (AHAS) Board of Directors consists of non-remunerated volunteers. The Board is responsible for the management of affairs and policies, and provides an overall strategic direction for AHAS to ensure its continuing success.</p>

	<p>Photos and descriptions (click on picture) coming soon!</p>

	<h2>Connie Varnhagen</h2>
	<h3>President</h3>

	<h2>Annie Marzullo</h2>
	<h3>Secretary</h3>

	<h2>Dawna Sole</h2>
	<h3>Treasurer</h3>

	<h2>Elizabeth Bonkink</h2>
	<h3>Vice President</h3>

	<h2>Dr. Stanley Varnhagen</h2>
	<h3>Director</h3>

	<h2>Dr. Savannah Howse-Smith</h2>
	<h3>Director</h3>

	[[ Contact Us ]]

	<h2>Call Us</h2>

	<p>Phone: 587-338-8668 Please leave a detailed message. It can take over a week to get back to you so please be patient!</p>
	<h2>Send Us A Message</h2>

	<p>Want to volunteer?  Have something to donate?  Please contact us by email: AlbertaHelpingAnimalsSociety@gmail.com</p>

	[[ Services ]]


	[[ Animal Care Seminars ]]

	<h2>Animal Care Seminars</h2>

	<p>Alberta Helping Animals Society supports the community by providing animal care seminars on topics including:</p>
	<ul>
		<li>Pet Care</li>
		<li>Training</li>
		<li>Health Care</li>
	</ul>

	<p>We offer something for everyone, from the animal lover to animal health care professionals. A small admission fee is charged, with all proceeds going to the Alberta Helping Animals Society. We will post the next Animal Care Seminar date on our Facebook page and here.</p>
	<h2>Little Vets Reading Club</h2>

	<p>We are about to start up our Little Vets Reading Club for children aged 5 – 12 and their parents.  You are invited to learn about responsible pet care, read books, and complete a craft.  We will post the next Little Vets Reading Club date on our Facebook page and here.</p>

	[[ Helping Owners ]]


	<h2>Helping Owners</h2>

	<p>Alberta Helping Animals Society offers additional support to pet owners beyond animal care alone. Working closely with community social workers and organizations, we provide guidance and direct clients to any resources that they need, including:</p>

	<ul>
		<li>Housing Assistance</li>
		<li>Mental Health Services</li>
		<li>Addiction Services</li>
	</ul>

	<p>Strengthening the human-animal bond requires focusing on the well-being of the human just as much as the well-being of the animal.</p>



	[[ Apply for Services ]]



	<p>AHAS Home Veterinary Services provides basic veterinary care to people living with a very low income in Edmonton.  Our policy is to ensure all patients are spayed/neutered as long as they are healthy; we will not see your pets if you will not spay/neuter them.</p>

</Layout>
