---
import { FAQList } from "@/components/FAQ/FAQList"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Our Services - Hope Veterinary Clinic">
	<main>
		<section>
			<h1>Our Services</h1>
			<a href="./services/apply">
				<button>Apply for Services</button>
			</a>
		</section>
		<section>
			<h2>Veterinary and Other Care</h2>

			<p>AHAS Home Veterinary Services provides no-cost veterinary services in Edmonton to qualified clients who are not able to access regular veterinary care, including:</p>

			<ul>
				<li>Wellness Exams</li>
				<li>Vaccinations</li>
				<li>Internal and External Parasite Treatment</li>
				<li>Radiography</li>
				<li>Laboratory Analysis</li>
				<li>Emergency grooming with sedation (we are NOT a grooming service)</li>
				<li>Spay/neuter surgery (please apply to the PALS program at the Edmonton Humane Society for spay/neuter for dogs under seven years of age)</li>
				<li>Dental Care (please note we have a very long wait for dental surgery)</li>
				<li>Chronic illness support</li>
				<li>Behaviour and Nutrition Counseling</li>
				<li>Discussion and Support for Housing Concerns</li>
				<li>Euthanasia</li>
			</ul>

		</section>

		<section>
			<h2>Requirements for Eligibility</h2>

			<p>AHAS Home Veterinary Services provides basic veterinary care to people living with a very low income in Edmonton.  Our policy is to ensure all patients are spayed/neutered as long as they are healthy; we will not see your pets if you will not spay/neuter them.</p>

			<h2>Low Income Cut-Off for 2025 (until June) is:</h2>

			<table class="">
				<tr>
					<th>
						Household
					</th>
					<th>
						Income
					</th>
				</tr>
				<tr>
					<td>
						One person in household
					</td>   
					<td>
						\$30,523
					</td>
				</tr>
				<tr>
					<td>
						Two family members in household
					</td>
					<td>
						\$38,002
					</td>
				</tr>
				<tr><td>Three family members in household</td>     <td>\$46,720</td></tr>
				<tr><td>Four family members in household</td>        <td>\$56,724</td></tr>
			</table>
		</section>

		<h2>Apply for Services here: Request our services</h2>

		<p>PLEASE NOTE:  It may take a few days to get back to you but you will receive an email asking to send in qualifying information.  Please do not call or email us to see if we have received your application as it slows down our volunteers.</p>

		<p>PLEASE NOTE:  We are not able to offer urgent services to new clients except under extraordinary circumstances.  If you have an urgent need, please contact an emergency clinic near you.</p>

		<p>If you need spay/neuter services for a young, healthy dog, please apply to the PALS program at the Edmonton Humane Society:  https://www.edmontonhumanesociety.com/services/pals-spay-and-neuter-program/</p>

		[[ Food Bank ]]

		<h2>Nearby Pet Food Banks</h2>

		<p>Veterinary costs aside, pet owners face the additional costs of keeping their furry friends well-fed, healthy and happy.</p>

		If you are short of food and/or supplies, check out the following:
		<ul>
			<li>Inner City Pet Food Bank, Bissell Centre, 10527 – 96 Street, Wednesdays 10 – 12.</li>

			<li>Bethel Gospel Chapel, 11461 – 95 Street, Mondays 3 – 5.</li>

			<li>Parachutes for Pets Edmonton, 8108 Coronet Road.  Call 587-598-7723 or email edmonton@parachutesforpets.com to book a time to pick up food.</li>

			<li>Many groups on Facebook can help with food.  Search for “pet food bank” for help.</li>

			<li>Edmonton Food Bank may have some food and supplies as well</li>
		</ul>
		<p>We have some food as well.  You can also check out our “After Hours Pet Food Bank” box in our parking lot behind the clinic</p>


		<h2>How Can You Help?</h2>

		<p>Take your food donation to Bissell Centre, 10527 – 96 Street NW, Monday – Friday 9 – 12 or 1 – 4</p>

		<p>We can also accept small amounts of food and supplies.  Drop off at the clinic, 12701 – 119 Street NW, Monday- Friday 10- 4</p>

		<section>
			<h2>Veterinary Services</h2>
			<!-- vet services -->
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
		<section>
			<h2>Pet Food Banks</h2>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>

		<section>
			<h2>Helping Owners</h2>
			<ul>
				<li>Housing Assistance</li>
				<li>Mental Health Services</li>
				<li>Addiction Services</li>
			</ul>
		</section>
		<h2>FAQ</h2>
	</main>
</Layout>
